.login-page .main-footer{
    display: none;
}

.img-login{
    max-width: 257.922px;
}

.login-card-body{
    border-radius: 3%;
}

span.icono-personalizado{
    border-radius: 10% !important;
    max-width: 40px !important;
    width: 40px !important;
    margin: 0 0 0 -7px !important;
}